:root {
  --ff-serif: "DM Serif Display", serif;
  --ff-sans: "Public Sans", sans-serif;

  /* small screen font-sizes */
  --fs-200: 0.9375rem; /* 15px */
  --fs-400: 1.125rem;
  --fs-500: 2rem; /* 32px */
  /* --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem; */

  --fw-400: 400;
  --fw-600: 600;

  --clr-white-100: #fbfcfe;
  --clr-white-200: #edf3f8;

  --clr-blue-100: #6c8294;
  --clr-blue-200: #36536b;
  --clr-blue-300: #1b262f;

  --clr-pink-100: #da6d97;
  --clr-pink-200: #ba4270;

  --br: 1rem;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--clr-white-200);
  color: var(--clr-blue-100);
  line-height: 1.8;
  font-family: var(--ff-sans);
  font-size: var(--fs-200);
}

/* Typography */

.main-title {
  font-size: var(--fs-500);
  font-family: var(--ff-serif);
}

.secondary__title {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  color: var(--clr-blue-200);
}

h3 {
  font-size: var(--fs-400);
}

h2,
h3 {
  color: var(--clr-neutral-500);
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

/* Utility Class */
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.split {
  display: flex;
  flex-direction: var(--f-direction, column);
}

.text-center {
  text-align: center;
}

.flow-content > * + * {
  margin-top: 2rem;
}

.bg-dark {
  background-color: var(--clr-blue-300);
  color: var(--clr-white-100);
}

/* Component */
.btn {
  cursor: pointer;
  font-size: var(--fs-200);
  background-color: var(--clr-pink-200);
  color: var(--clr-white-100);
  padding: 0.8rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}

.form__input {
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: var(--clr-white-100);
}

/* General Lay-out */

/* Banking */
.banking img {
  width: 106px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .banking .split {
    flex-direction: row;
  }

  .banking .flow-content {
    margin: 0 auto;
  }
}

/* CTA */
.cta .form {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .cta .split {
    flex-direction: row;
    justify-content: center;
  }
}

/* Footer */
.footer {
  background-image: url(/starter-code/assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50px center -20px;
}

.footer__social.split {
  flex-direction: row;
}

.footer__social > * + * {
  margin-left: 1.5rem;
}
